<div class="main-page">
  <div class="headers">
    <div class="logo">
      <img src="../../../assets/original_windows_95_icons_by_ipapun/Icon_16.ico">
    </div>
    <div class="title">
      <h1>E-GOR</h1>
    </div>
    <div class="telephone">
      <a href="tel:+79687898647"><i class="material-icons">phone</i> +7 (999) 994 29 03</a>
    </div>
  </div>
  <div class="body">
    <div class="company-info">
      <h2>Ремонт компьютеров на дому</h2>

      <p>Неисправен компьютер или ноутбук? Сбои в работе программ? Необходимо настроить Windows или подключить
        Интернет?</p>

      <p>Наш мастер быстро, качественно и недорого проведет все работы! Звоните по телефону: <a
        href="tel:+79687898647">+7 (999) 994 29 03</a> или
        оставьте заявку!</p>

      <div class="add-application-button-container">
        <button class="add-application-button"><a routerLink="./order">Оставить заявку</a></button>
      </div>
    </div>

    <div class="about">
      <ul>
        <li><span>Бесплатный выезд мастера</span></li>
        <li><span>Бесплатная диагностика</span></li>
        <li><span>Гарантия на все работы</span></li>
      </ul>
    </div>
  </div>
</div>
