
.main-page {
  padding: 2rem 0;
  max-width: 800px;
  min-width: 100%;

  a {
    color: blue;
  }

  .headers {
    text-align: center;
    margin-bottom: 2rem;
    line-height: 2;
    font-size: 1.5rem;
    .title h1 {
      margin: 0;
      &:hover {
        color: blue;
      }
    }
    div {
      margin-bottom: 1rem;
    }
  }
  .body {

    background-color: #ededed;
    border-bottom: 4px solid blue;
    padding: 1rem;
    box-shadow: 4px 4px 0 rgba(0, 0, 0, .3);
    display: flex;
    flex-flow: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;

    & > div {
      margin: 1rem;
    }

    .about {
      max-width: 280px;
      flex: 1 1 100px;
      padding: 1rem;
      background-color: white;
      border-top: 3px solid rgba(0, 0, 0, 0.1);
      border-left: 3px solid rgba(0, 0, 0, 0.1);
      border-right: 3px solid rgba(0, 0, 0, 0.3);
      border-bottom: 3px solid rgba(0, 0, 0, 0.3);
      ul {
        padding-left: 2rem;
        margin: 0;
        list-style-type: square;
        li {
          color: black;
          span {
            color: black;
          }
        }
      }
    }
    .company-info {
      flex: 3 0 100px;

      h2 {
        margin-bottom: 1rem;
      }

      p:nth-last-child(0) {
        margin-bottom: 2rem;

      }
      .add-application-button-container {
        padding-top: 1rem;
        text-align: center;
        .add-application-button {
          transition: all 0.1s ease-in-out;
          cursor: pointer;
          outline: none;
          border: 2px solid blue;
          font-size: 1.5rem;
          padding: .5rem .75rem;
          line-height: 1;
          background-color: white;
          color: blue;

          // min-width: 180px;
          //max-width: 280px;
          width: 220px;

          a {
            text-decoration: none;
          }
          &:hover {
            box-shadow: 5px 5px 0 rgba(0, 0, 0, .3);
            transform: translateY(-5px);

          }

          &:active {
            box-shadow: none;
            transform: none;

          }
        }
      }
    }
  }
}
