.order-header {
  text-align: center;
  margin-bottom: 2rem;
  p {
    font-style: italic;
  }
}

.contact-form {
  max-width: 15rem;
  margin: 0 auto;
  button {
    width: 100%;
  }
}

.contact-inputs {
  input {
    &:last-child {
      margin-bottom: 0;
    }
  }
}

.input-container {
  display: flex;
  flex-direction: row-reverse;
  .input-icon {
    color: blue;
    background-color: white;
    padding: 0.5rem 0.75rem;
    margin-bottom: 0;
    font-size: 1rem;
    font-weight: normal;
    line-height: 1.25;
    text-align: center;
  }
  input, textarea {
    display: block;
    width: 100%;
    padding: 0.5rem 0.75rem 0.5rem 0;
    font-size: 1rem;
    line-height: 1.25;
    color: #464a4c;
    background-color: #fff;
    background-clip: padding-box;
    border: none;
    border-radius: 0;
    transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
    outline: none;

    &.ng-touched.ng-invalid + .input-icon {
      color: red;
    }
    &.ng-touched.ng-invalid + input + .input-icon {
      color: red;
    }

    &[disabled] + .input-icon {
      color: #a8adb0;
    }
  }
}

.error-message {
  border: 2px solid red;
  background-color: white;
  font-weight: bold;
  color: red;
  margin: 10px 0;
  padding: 0.5rem 1rem;
  width: 100%;
  text-align: center;
}
