<div class="order-header">
  <h2>Как с вами связаться?</h2>

  <p class="order-header">Гарантируем, что указанные контакты
    не окажутся в открытом доступе</p>
</div>
<form [formGroup]="contactForm" (ngSubmit)="submit()" class="contact-form">
  <div class="form-block">
    <div class="few-inputs-container contact-inputs">
      <div class="iconed-input-block">
        <input id="customerName"
               class="control"
               formControlName="fio"
               placeholder="Имя Фамилия">
        <span class="input-icon">
          <i class="material-icons">person</i>
        </span>
      </div>
      <div class="iconed-input-block">
        <input id="customerEmail"
               class="control"
               formControlName="email"
               placeholder="E-mail"
               type="email"
               pattern='^(([^<>()\[\]\\.,;:\s@"]+(\.[^<>()\[\]\\.,;:\s@"]+)*)|(".+"))@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}])|(([a-zA-Z\-0-9]+\.)+[a-zA-Z]{2,}))$'>

        <span class="input-icon">
          <i class="material-icons">email</i>
        </span>
      </div>
      <div class="iconed-input-block">
        <input id="customerTelephone"
               class="control"
               formControlName="telephone"
               [textMask]="{mask: phoneMask}"
               pattern="\+7 \((\d\d\d)\) \d\d\d \d\d \d\d"
               placeholder="Телефон"
               type="tel">
        <span class="input-icon">
          <i class="material-icons">phone</i>
        </span>
      </div>
    </div>
  </div>
  <button type="submit"
          class="btn btn-primary"
          [disabled]="contactForm.invalid || loading">
    <span *ngIf="loading">Загрузка</span>
    <span *ngIf="!loading">Готово</span>
  </button>
  <div *ngIf="error" class="error-message" (click)="error=''">{{error}}</div>
</form>

